<!DOCTYPE html>
<html lang="en" ng-app="howMuch">
<head>
<meta charset="utf-8">
<title>How Much Money?</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!--[if IE]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="stylesheet" href="css/styles.css" type="text/css" media="all" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="js/ui-bootstrap-1.1.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="http://cdn.babylonjs.com/2-3/babylon.js"></script>
<script src="js/app.js" type="text/javascript" charset="utf-8"></script>
<script src="js/renderService.js" type="text/javascript" charset="utf-8"></script>
</head>
<body ng-controller="moneyCtrl">
    <div class="container-fluid">
        <div class="page-header">
            <h1>How Much Money? <small>see how much it really is</small></h1>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-10">
                        <uib-tabset type="tabs">
                            <uib-tab select="setCurrency('us')" heading="US">
                                <div class="currencyNav">
                                    <div class="nav nav-pills nav-stacked">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Bills</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="nav nav-pills nav-stacked">
                                                    <div ng-repeat="bill in bills.us">
                                                        <div class="col-sm-6">
                                                            <a href="#" class="thumbnail">
                                                                <img ng-src="{{bill.image}}" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Coins</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="nav nav-pills nav-stacked">
                                                    <div ng-repeat="coin in coins.us">
                                                        <div class="col-sm-6">
                                                            <a href="#" class="thumbnail">
                                                                <img ng-src="{{coin.image}}" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab select="setCurrency('yen')" heading="JAP">
                                <div class="currencyNav">
                                    <div class="nav nav-pills nav-stacked">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Bills</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="nav nav-pills nav-stacked">
                                                    <div ng-repeat="bill in bills.yen">
                                                        <div class="col-sm-6">
                                                            <a href="#" class="thumbnail">
                                                                <img ng-src="{{bill.image}}" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Coins</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="nav nav-pills nav-stacked">
                                                    <div ng-repeat="coin in coins.yen">
                                                        <div class="col-sm-6">
                                                            <a href="#" class="thumbnail">
                                                                <img ng-src="{{coin.image}}" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab select="setCurrency('euro')" heading="EURO">
                                <div class="currencyNav">
                                    <div class="nav nav-pills nav-stacked">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Bills</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="nav nav-pills nav-stacked">
                                                    <div ng-repeat="bill in bills.euro">
                                                        <div class="col-sm-6">
                                                            <a href="#" class="thumbnail">
                                                                <img ng-src="{{bill.image}}" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Coins</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="nav nav-pills nav-stacked">
                                                    <div ng-repeat="coin in coins.euro">
                                                        <div class="col-sm-6">
                                                            <a href="#" class="thumbnail">
                                                                <img ng-src="{{coin.image}}" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                    <div class="col-sm-2">
                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Left'">Left</label>
                            <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Middle'">Middle</label>
                            <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Right'">Right</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <canvas id="theMoney"></canvas>
            </div>
        </div>
    </div>
</body>
</html>
